[submodule "bundle/colorschemes"]
	path = bundle/colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "bundle/terminus"]
	path = bundle/terminus
	url = https://github.com/wincent/terminus.git
[submodule "/home/max/.vim/bundle/nerdtree"]
	path = /home/max/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
